<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DemoBlaze Suite" parallel="methods" thread-count="2">

    <parameter name="browser" value="chrome"/>
    <parameter name="url" value="https://www.demoblaze.com/"/>
    <parameter name="correctUsername" value="vetri1734"/>
    <parameter name="correctPassword" value="1234"/>

    <test name="Login Test">
        <classes>
            <class name="parameterDemo.DemoBlazeUsingParameter"/>
        </classes>
    </test>

</suite>